torch==2.6.0
transformers==4.53.2
trl==0.19.1
peft>=0.17.1
pytorch-lightning>=2.5.3
accelerate>=1.10.1
diffusers>=0.35.1
dill>=0.3.8
bitsandbytes>=0.42.0
sentencepiece>=0.2.0
tiktoken>=0.7.0
fairscale>=0.4.13
fire>=0.7.1
PyYAML>=6.0.2
sympy>=1.13.1
tqdm>=4.67.1
tqdm-multiprocess>=0.0.11
setuptools
matplotlib==3.9.0
scikit-learn
scipy
pandas
nltk
huggingface-hub
cmake
jsonlines
blobfile
protobuf
packaging
pytest
pytablewriter
more-itertools
requests
aiohttp
rouge-score
sacrebleu
tenacity
mypy
pycountry
numexpr
pybind11
openpyxl
py7zr
zstandard
word2number
langdetect
immutabledict
beartype
cached-path
json-repair
datasets==3.6.0
evaluate==0.4.5
pydantic>=2.11.7
wandb>=0.21.0
openai>=1.102.0
